@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ANIMATED HAND CSS */
#container-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: lightgray; */
}

#background-img {
  position: absolute;
  opacity: 0.666;
  width: 100%;
  height: 100%;
}

#hand {
  position: absolute;
  width: 20.36%;
  left: 30%;
  top: 48%;
  opacity: 100%;
  color: black;
  animation-name: swipe;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  /* animation: hideAnimation 0s ease-in 5s; */

  z-index: 99;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(30% 41% 40.5% 20%);

  /*   background: rgba( 0, 0, 0, 0.2 ); */
}

/*** ANIMATIONS ***/

@keyframes swipe {
  0% {
    left: 45%;
  }
  40% {
    left: 13%;
  }
  100% {
    left: 13%;
  }
}

/* @keyframes hideAnimation {
  to{
    visibility: hidden;
    width: 0;
    height: 0;
  }
   */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
